<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareFileHeading">Share File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <p>
            You can share the link below with your friends.
          </p>
          <div class="share-link" style="overflow: auto">
            http://localhost:5000/files/fileId/fileName  <!--This actually is overwritten by files-page.js   -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>